body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #030191, #3e56c0, #043eff, #9dd6ec);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: #333;
}
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
nav {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    padding: 15px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav a.active {
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}


nav a:hover {
    color: #011b8d;
}
.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    
}

p {
    font-size: 1.2rem;
}

.btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
}

.img-fluid {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.img-fluid:hover {
    transform: scale(1.05);
}

.alert {
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}
